* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$color1: rgb(235, 194, 29);
$color2: black;

@mixin layout1 {
  display: flex;
  flex-direction: column;
}

@mixin layout2 {
  display: flex;
  flex-direction: row;
}

@mixin links {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.667);
  text-align: center;
  justify-content: center;
  align-content: center;
  color: black;
  text-decoration: none;
  margin: 0px 10px 0px 0px;
}

@mixin planetLayout {
  border-radius: 50%;
  box-shadow: 0px 0px 10px 1px rgb(94, 93, 81);
  margin: 3px;
}

@mixin rubriker {
  width: 30vw;
  font-weight: 200;
  text-decoration: underline;
}

@mixin sectionLayout {
  width: 150px;
  padding: 10px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

@mixin of {
  font-weight: 100;
  font-size: x-large;
  padding: 10px;
}

@media (max-width: 670px) {
  body {
    @include layout1();
    background-image: linear-gradient(
      to bottom,
      rgb(32, 49, 127),
      rgb(22, 22, 52),
      rgb(3, 0, 14)
    );
    width: 100%;
    height: 100vh;
    overflow: hidden;

    // .starsky {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   // background-color: rgb(0, 0, 0);
    //   z-index: -1;
    // }

    // .stars {
    //   position: absolute;
    //   width: 2px;
    //   height: 2px;
    //   background-color: white;
    //   border-radius: 50%;
    //   opacity: 0.8;
    //   animation: twinkle 2s infinite alternate;
    // }

    // @keyframes twinkle {
    //   0% {
    //     opacity: 0.8;
    //   }
    //   50% {
    //     opacity: 0.5;
    //   }
    //   100% {
    //     opacity: 0.8;
    //   }
    // }

    .solaris {
      @include layout1();
      justify-content: center;
      align-items: center;
      width: 100%;

      .sunny {
        @include layout2();
        justify-content: center;
        margin-top: -100px;
        margin-bottom: 10px;

        .sun {
          background-image: linear-gradient(
            to bottom,
            rgb(238, 195, 53),
            rgb(202, 97, 22)
          );
          width: 230px;
          height: 230px;
          border-radius: 50%;
          box-shadow: 1px 1px 50px 2px rgba(255, 68, 0, 0.692);
        }
      }
    }

    .planets {
      @include layout2();
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 2px;

      .merkurius {
        @include planetLayout();

        background-image: linear-gradient(to bottom, grey, white);

        width: 10px;
        height: 10px;
      }

      .venus {
        @include planetLayout();

        background-image: linear-gradient(to bottom, white, yellow);

        width: 20px;
        height: 20px;
        // margin-top: -60px;
      }

      .earth {
        @include planetLayout();

        background-image: linear-gradient(
          to bottom,
          rgb(51, 73, 241),
          rgb(9, 109, 1),
          blue
        );

        width: 30px;
        height: 30px;
      }

      .mars {
        @include planetLayout();
        background-color: brown;

        width: 35px;
        height: 35px;
      }

      .jupiter {
        @include planetLayout();

        background-image: linear-gradient(
          to bottom,
          rgb(97, 57, 20),
          rgb(212, 232, 123),
          rgb(162, 65, 52)
        );

        width: 60px;
        height: 60px;
      }

      .planetWithRing1 {
        .saturnus {
          @include planetLayout();
          position: relative;

          background-image: linear-gradient(
            180deg,
            rgb(176, 193, 54),
            rgb(181, 145, 135)
          );

          width: 50px;
          height: 50px;
        }

        .saturnusRing {
          position: absolute;
          top: 173px;
          left: 177px;

          background-color: rgba(151, 142, 111, 0.612);
          border-radius: 50%;

          width: 95px;
          height: 5px;
          transform: rotate(150deg);
        }
      }

      .uranus {
        @include planetLayout();

        background-image: linear-gradient(
          to bottom,
          rgb(42, 35, 171),
          rgb(250, 250, 247)
        );

        width: 40px;
        height: 40px;
      }

      .planetWithRing2 {
        .neptunes {
          @include planetLayout();
          position: relative;

          background-image: linear-gradient(
            180deg,
            rgb(54, 86, 193),
            rgb(46, 24, 132)
          );

          width: 45px;
          height: 45px;
          margin-right: 15px;
        }

        .neptunesRing {
          position: absolute;
          top: 173px;
          left: 285px;

          background-color: rgba(151, 142, 111, 0.612);
          border-radius: 50%;

          width: 80px;
          height: 5px;
          transform: rotate(210deg);
        }
      }
    }
  }

  main {
    @include layout1();
    width: 100%;
    justify-content: center;
    align-items: center;

    .section1h1 {
      text-align: center;
      align-items: center;
      color: $color1;
      font-family: "genos", sans-serif;
      font-weight: 300;
      font-size: 70px;
    }

    .searchbar {
      position: relative;
      text-align: center;
      align-items: center;
      margin-top: 10px;
      width: 280px;
      height: 60px;
      background-color: rgba(240, 248, 255, 0.849);
      border: none;
      border-radius: 10px;
      text-align: center;
      font-size: large;
      font-weight: 700;
      color: rgba(255, 255, 255, 0.723);
    }

    .button {
      position: absolute;
      width: 45px;
      height: 35px;

      background-color: rgb(187, 186, 186);

      border: none;
      border-radius: 35px;
      right: 55px;
      top: 315px;
    }

    .popUp {
      @include layout1();
      display: none;
      position: fixed;

      margin-top: 100px;
      width: 95%;
      height: 95vh;

      background-image: linear-gradient(
        180deg,
        rgba(21, 25, 37, 0.938),
        rgba(2, 2, 54, 0.952),
        rgba(12, 1, 26, 0.945)
      );

      color: rgb(255, 237, 134);
      box-shadow: 1px 1px 10px 6px rgba(223, 193, 117, 0.568);
      border-radius: 5px;

      padding: 5px;

      .Name {
        font-family: "genos", sans-serif;
        font-weight: 400;
        font-size: 50px;

        margin-left: 5px;
        padding: 0;
      }

      .latinName {
        font-family: "genos", sans-serif;
        font-size: x-large;
        font-weight: 300;
        margin: -10px 0px 5px 20px;
        padding: 0;
      }

      .information {
        @include layout2();
        width: 100%;
        height: 80%;
        flex-wrap: wrap;
        justify-content: space-between;
        font-family: "ubuntu", sans-serif;
        font-weight: 300;
        font-size: medium;
        
        padding: 10px;

        .sectionOne {
          @include sectionLayout();

          .type {
            @include rubriker();

            .typOf {
              @include of();
            }
          }
        }

        .sectionTwo {
          @include sectionLayout();

          .circumference {
            @include rubriker();

            .circumOf {
              @include of();
            }
          }
        }

        .sectionThree {
          @include sectionLayout();

          .distanceSun {
            @include rubriker();

            .distOf {
              @include of();
            }
          }
        }

        .sectionFour {
          @include sectionLayout();

          .temperature {
            @include rubriker();

            .tempOf {
              @include of();
            }
          }
        }

        .sectionFive {
          @include sectionLayout();

          .moons {
            @include rubriker();

            .moonsOf {
              @include of();
            }
          }
        }

        .sectionSix {
         width: 100%;
         font-size: small;

          .facts {
            @include rubriker();
            margin-bottom: 5px;

            .factsOf {
              @include of();
            }
          }
        }
      }
    }
  }

  footer {
    @include layout1();
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 180px;
    padding-bottom: 10px;

    .copyW {
      color: rgba(255, 255, 255, 0.668);
      padding: 5px;
      margin: 5px;
    }

    .links {
      @include layout2();
      justify-content: center;
      .instagram {
        @include links();
      }

      .github {
        @include links();
      }

      .mejl {
        @include links();
      }
    }
  }
}
