* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$color1: white;
$color2: black;

@mixin layout1 {
  display: flex;
  flex-direction: column;
}

@mixin layout2 {
  display: flex;
  flex-direction: row;
}

@mixin links {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.667);
  text-align: center;
  justify-content: center;
  align-content: center;
  color: black;
  text-decoration: none;
  margin: 0px 10px 0px 0px;
}

@media (max-width: 670px) {
  body {
    @include layout1();
    background-image: linear-gradient(
      to bottom,
      rgb(32, 49, 127),
      rgb(22, 22, 52),
      rgb(3, 0, 14)
    );
    width: 100%;
    height: 100vh;

    .planets {
      @include layout1();
      justify-content: center;
      align-items: center;
      width: 100%;

      .sun {
        @include layout2();
        justify-content: center;
        margin-top: -100px;
        margin-bottom: 10px;

        .planet1 {
          background-image: linear-gradient(
            to bottom,
            rgb(238, 195, 53),
            rgb(202, 97, 22)
          );
          width: 230px;
          height: 230px;
          border-radius: 50%;
          box-shadow: 1px 1px 50px 2px rgba(255, 68, 0, 0.692);
        }
      }

      .planet {
        @include layout2();
        justify-content: center;
        justify-content: space-between;
        width: 100%;
        padding: 20px;

        .planet2 {
          background-image: linear-gradient(
            to bottom,
            rgb(255, 1, 1),
            rgb(86, 27, 11)
          );
          border-radius: 50%;

          width: 60px;
          height: 60px;

          margin-top: 10px;
        }

        .planetWithRing {
          .planet3 {
            position: relative;

            background-image: linear-gradient(
              180deg,
              rgb(176, 193, 54),
              rgb(181, 145, 135)
            );
            border-radius: 50%;

            width: 90px;
            height: 90px;
          }

          .planet3ring {
            position: absolute;
            top: 200px;
            left: 80px;

            background-color: rgba(151, 142, 111, 0.612);
            border-radius: 50%;

            width: 200px;
            height: 10px;
            transform: rotate(150deg);
          }
        }

        .planet4 {
          width: 70px;
          height: 70px;
          border-radius: 50%;

          background-image: linear-gradient(to bottom, sandybrown, black);
          padding: 0px 20px 0px 0px;
        }
      }
    }

    main {
      @include layout1();
      width: 100%;
      justify-content: center;
      align-items: center;
      padding: 20px;

      .h1 {
        text-align: center;
        align-items: center;
        justify-content: center;
        color: white;
        font-family: "ubuntu", sans-serif;
        font-size: xx-large;
      }

      .h2 {
        text-align: center;
        align-items: center;
        color: rgb(230, 201, 13);
        font-family: "genos", sans-serif;
        font-size: 70px;
        margin-top: -20px;
      }

      .searchbar {
        margin-top: 20px;
        width: 280px;
        height: 60px;
        background-color: rgba(240, 248, 255, 0.849);
        border: none;
        border-radius: 10px;
        text-align: center;
        font-size: large;
        font-weight: 700;
        color: rgba(255, 255, 255, 0.723);
      }
    }

    footer {
      @include layout1();
      justify-content: space-between;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 50px;
      padding-bottom: 10px;

      .copyW {
        color: rgba(255, 255, 255, 0.668);
        padding: 5px;
        margin: 5px;
      }

      .links {
        @include layout2();
        justify-content: center;
        .instagram {
          @include links();
        }

        .github {
          @include links();
        }

        .mejl {
          @include links();
        }
      }
    }
  }
}
