/*Mixins including the styiling of different elements*/
@mixin layout1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin layout2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin links { //using for the link in the footer
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.667);
  text-align: center;
  justify-content: center;
  align-content: center;
  color: black;
  text-decoration: none;
  margin: 0px 10px 0px 0px;
}

@mixin planetLayout { // The overall layout for the planets in the header
  border-radius: 50%;
  box-shadow: inset 2px 5px 10px rgb(255, 255, 255);
}

@mixin rubriker { // Headlines on the pop up screen
  width: 30vw;
  font-weight: 200;
  text-decoration: underline;
  margin-bottom: 10px;
  font-size: large;
}

@mixin sectionLayout { // The sections, the containers for information text on pop up screen
  width: 135px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

@mixin of {  // the information text inside section 1-6 containers
  font-weight: 100;
  font-size: x-large;
  padding: 10px;
  text-align: center;
}

// style of solaris//

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 360px) and (max-width: 768px) { // media screen max 768 (smaller mobilephones to tablets)
  body {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;

    .starsky {
      // making the style for the space with stars (this is the full site, because of the star sky animation)
      width: 100%;
      height: 100vh;
      @include layout1();
      background: linear-gradient(to bottom, rgb(0, 0, 53), black);


      .starryHeaven {
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;

        .stars {
          position: absolute;
          width: 2px;
          height: 2px;
          background-color: white;
          border-radius: 50%;
          animation: twinkle 5s infinite alternate;
        }

        @keyframes twinkle {
          0%,
          100% {
            opacity: 0.2;
          }

          50% {
            opacity: 1;
          }
        }
      }

      .solaris {
        @include layout2();
        justify-content: center;
       
        width: 90%;
        z-index: 0;

          .sun {
            position: absolute;
            top: 50px;

            background-image: linear-gradient(
              to bottom,
              rgb(238, 195, 53),
              rgb(202, 97, 22),
              red
            );
            width: 200px;
            height: 200px;
            border-radius: 50%;
            margin-top: -100px;
            
           
            @keyframes pulse-shadow { // Pulse animation for making it look like the suns warth pulse out in space
              0% {
                box-shadow: 0px 0px 200px 25px rgba(255, 68, 0, 0.692);
              }
              50% {
                box-shadow:0px 0px 100px 7px rgba(255, 68, 0, 0.692); 
              }
              100% {
                box-shadow: 0px 0px 200px 20px rgba(255, 68, 0, 0.692); //Same properties to make it more in flow
              }
            };

            animation: pulse-shadow 5s infinite ease-in-out;
          }

        .planets {
          @include layout2();
          justify-content: center;
          align-items: center;
          position: absolute;
          width: 100%;
          padding: 20px 0px 20px 0px;
          top: 170px;
          margin-right: 20px;
      

          .merkurius {
            @include planetLayout();
            margin: 1px;

            background-image: linear-gradient(to bottom, grey, white, rgb(99, 90, 90));

            width: 20px;
            height: 20px;
          }

          .venus {
            @include planetLayout();
            margin: 1px;

            background-image: linear-gradient(to bottom, white, yellow, pink);

            width: 25px;
            height: 25px;
          }

          .earth {
            @include planetLayout();
            margin: 2px;

            background-image: linear-gradient(
              to bottom,
              rgb(51, 73, 241),
              rgb(9, 109, 1),
              blue
            );

            width: 35px;
            height: 35px;
          }

          .mars {
            @include planetLayout();
            margin: 2px;

            background-color: brown;

            width: 30px;
            height: 30px;
          }

          .jupiter {
            @include planetLayout();
            margin: 2px;

            background-image: linear-gradient(
              to bottom,
              rgb(97, 57, 20),
              rgb(212, 232, 123),
              rgb(162, 65, 52),
              rgb(97, 57, 20)
            );

            width: 60px;
            height: 60px;
          }

          .planetWithRing1 {
            position: relative;
            .saturnus {
              position: relative;
              @include planetLayout();
              
              margin: 2px;

              background-image: linear-gradient(
                180deg,
                rgb(176, 193, 54),
                rgb(181, 145, 135)
              );

              width: 50px;
              height: 50px;
            }
            .saturnusRing {
              position: absolute;

              top: 50%;
              left: 50%;

              background-color: rgba(106, 97, 63, 0.675);
              border-radius: 50%;

              width: 100px;
              height: 7px;
              transform: translate(-50%, -50%) rotate(150deg); // translate method makes the ring turn around sideways
            }
          }

          .uranus {
            @include planetLayout();
            margin: 2px;

            background-image: linear-gradient(
              to bottom,
              rgb(42, 35, 171),
              rgb(250, 250, 247)
            );

            width: 35px;
            height: 35px;
          }

          .planetWithRing2 {
            position: relative;

            .neptunes {
              position: relative;
              @include planetLayout();

              margin: 2px;

              background-image: linear-gradient(
                180deg,
                rgb(54, 86, 193),
                rgb(46, 24, 132)
              );

              width: 45px;
              height: 45px;
            }
            .neptunesRing {
              position: absolute;

              top: 50%;
              left: 50%;

              background-color: rgba(151, 142, 111, 0.612);
              border-radius: 50%;

              width: 90px;
              height: 7px;
              transform: translate(-50%, -50%) rotate(210deg); // translate metod makes the ring turn around sideways
            }
          }
        }
      }

      main {
        @include layout1();
        position: absolute;
        top: 250px;
        width: 95%;
        justify-content: center;
        align-items: center;
        z-index: 0;

        .section1h1 {
          text-align: center;
          align-items: center;
          font-family: "genos", sans-serif;
          font-weight: 300;
          font-size: 100px;
          color: gold;
        }

        .searchbar {
          text-align: center;
          margin-top: 10px;
          width: 300px;
          height: 60px;
          background-color: rgba(240, 248, 255, 0.79);
          border: none;
          border-radius: 10px;
          text-align: center;
          font-size: large;
          font-weight: 700;
          color: rgba(53, 46, 46, 0.908);
          z-index: 0;
        }

        .button {
          width: 45px;
          height: 45px;

          background-color: rgba(240, 248, 255, 0.79);

          border: none;
          border-radius: 50%;

          margin-left: -55px;
        }

        .popUp {
          position: relative;

          @include layout2();
          align-items: center;
          justify-content: center;
          display: none;

          width: 95%;
          height: 85vh;

          background-image: linear-gradient(
            180deg,
            rgba(21, 25, 37, 0.826),
            rgba(2, 2, 54, 0.841),
            rgba(12, 1, 26, 0.79)
          );

          color: rgb(255, 237, 134);
          border-radius: 10px;

          padding: 2px;
          margin-top: -400px;
          margin-right: 20px;

          .btnClose {
            position: absolute;
            top: 20px;
            left: 250px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: none;
            background: rgba(255, 237, 134, 0.712);
          }

          .Name {
            font-family: "genos", sans-serif;
            font-weight: 400;
            font-size: 40px;
            margin-left: 30px;
          }

          .latinName {
            font-family: "genos", sans-serif;
            font-size: 30px;
            font-weight: 300;
            margin-left: 40px;
            margin-top: -15px;
            margin-bottom: 10px;
          }

          .information {
            @include layout2();
            overflow-y: auto;
            overflow-x: hidden;
            width: 95%;
            height: 65vh;
            flex-wrap: wrap;
            font-family: "ubuntu", sans-serif;
            font-weight: 300;
            font-size: small;
            background: linear-gradient(
              to bottom,
              rgb(29, 28, 28),
              rgba(0, 0, 0, 0.904)
            );
            border-radius: 2px;

            padding: 20px;
            margin: 15px;

            .smallFacts {
              @include layout2();
              flex-wrap: wrap;
              justify-content: space-between;
              align-items: center;
              width: 100%;
            }

            .sectionOne {
              @include sectionLayout();

              .type {
                @include rubriker();

                .typOf {
                  @include of();
                }
              }
            }

            .sectionTwo {
              @include sectionLayout();

              .circumference {
                @include rubriker();

                .circumOf {
                  @include of();
                }
              }
            }

            .sectionThree {
              @include sectionLayout();

              .distanceSun {
                @include rubriker();
                width: 20vh;

                .distOf {
                  @include of();
                }
              }
            }

            .sectionFour {
              @include sectionLayout();

              .temperature {
                @include rubriker();

                .tempOf {
                  @include of();
                }
              }
            }

            .sectionFive {
              @include sectionLayout();

              .moons {
                @include rubriker();

                .moonsOf {
                  @include of();
                }
              }
            }

            .sectionSix {
              width: 100%;
              font-size: small;

              .facts {
                @include rubriker();
                margin-bottom: 2px;

                .factsOf {
                  @include of();
                }
              }
            }
          }
        }
      }

      footer {
        @include layout1();
        position: absolute;
        justify-content: space-between;
        justify-content: center;
        align-items: center;
        width: 100%;
        top: 700px;

        .copyW {
          justify-content: center;
          align-items: center;
          color: rgba(255, 255, 255, 0.668);
          padding: 5px;
          margin: 5px;
        }

        .links {
          @include layout2();
          justify-content: center;
          align-items: center;

          .instagram {
            @include links();
          }

          .github {
            @include links();
          }

          .mejl {
            @include links();
          }
        }
      }
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) { // media screen 769 - 1024 px (tablets and laptop)
  body {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;

    .starsky {
      // making the style for the space with stars (this is the full site, because of the star sky animation)
      width: 100%;
      height: 100vh;
      @include layout1();
      background: linear-gradient(to bottom, rgb(0, 0, 53), black);


      .starryHeaven {
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;

        .stars {
          position: absolute;
          width: 2px;
          height: 2px;
          background-color: white;
          border-radius: 50%;
          animation: twinkle 5s infinite alternate;
        }

        @keyframes twinkle {
          0%,
          100% {
            opacity: 0.2;
          }

          50% {
            opacity: 1;
          }
        }
      }

      .solaris {
        @include layout2();
        justify-content: center;
       
        width: 90%;
        z-index: 0;

          .sun {
            position: absolute;
            top: 50px;

            background-image: linear-gradient(
              to bottom,
              rgb(238, 195, 53),
              rgb(202, 97, 22),
              red
            );
            width: 500px;
            height: 500px;
            border-radius: 50%;
            
           
            @keyframes pulse-shadow { // Pulse animation for making it look like the suns warth pulse out in space
              0% {
                box-shadow: 0px 0px 200px 25px rgba(255, 68, 0, 0.692);
              }
              50% {
                box-shadow:0px 0px 100px 7px rgba(255, 68, 0, 0.692); 
              }
              100% {
                box-shadow: 0px 0px 200px 20px rgba(255, 68, 0, 0.692); //Same properties to make it more in flow
              }
            };

            animation: pulse-shadow 5s infinite ease-in-out;
          }

        .planets {
          @include layout2();
          justify-content: center;
          align-items: center;
          position: absolute;
          width: 100%;
          padding: 20px 1px 20px 1px;
          top: 250px;

          .merkurius {
            @include planetLayout();
            margin: 2px;

            background-image: linear-gradient(to bottom, grey, white, rgb(99, 90, 90));

            width: 75px;
            height: 75px;
          }

          .venus {
            @include planetLayout();
            margin: 2px;

            background-image: linear-gradient(to bottom, white, yellow, pink);

            width: 85px;
            height: 85px;
          }

          .earth {
            @include planetLayout();
            margin: 2px;

            background-image: linear-gradient(
              to bottom,
              rgb(51, 73, 241),
              rgb(9, 109, 1),
              blue
            );

            width: 90px;
            height: 90px;
          }

          .mars {
            @include planetLayout();
            margin: 2px;

            background-color: brown;

            width: 75px;
            height: 75px;
          }

          .jupiter {
            @include planetLayout();
            margin: 2px;

            background-image: linear-gradient(
              to bottom,
              rgb(97, 57, 20),
              rgb(212, 232, 123),
              rgb(162, 65, 52),
              rgb(97, 57, 20)
            );

            width: 150px;
            height: 150px;
          }

          .planetWithRing1 {
            position: relative;
            .saturnus {
              position: relative;
              @include planetLayout();
              
              margin: 2px;

              background-image: linear-gradient(
                180deg,
                rgb(176, 193, 54),
                rgb(181, 145, 135)
              );

              width: 95px;
              height: 95px;
            }
            .saturnusRing {
              position: absolute;

              top: 50%;
              left: 50%;

              background-color: rgba(106, 97, 63, 0.675);
              border-radius: 50%;

              width: 160px;
              height: 7px;
              transform: translate(-50%, -50%) rotate(150deg); // translate method makes the ring turn around sideways
            }
          }

          .uranus {
            @include planetLayout();
            margin: 2px;

            background-image: linear-gradient(
              to bottom,
              rgb(42, 35, 171),
              rgb(250, 250, 247)
            );

            width: 85px;
            height: 85px;
          }

          .planetWithRing2 {
            position: relative;

            .neptunes {
              position: relative;
              @include planetLayout();

              margin: 2px;

              background-image: linear-gradient(
                180deg,
                rgb(54, 86, 193),
                rgb(46, 24, 132)
              );

              width: 95px;
              height: 95px;
            }
            .neptunesRing {
              position: absolute;

              top: 50%;
              left: 50%;

              background-color: rgba(151, 142, 111, 0.612);
              border-radius: 50%;

              width: 150px;
              height: 7px;
              transform: translate(-50%, -50%) rotate(210deg); // translate metod makes the ring turn around sideways
            }
          }
        }
      }

      main {
        @include layout1();
        position: absolute;
        top: 400px;
        width: 95%;
        justify-content: center;
        align-items: center;
        z-index: 0;

        .section1h1 {
          text-align: center;
          align-items: center;
          font-family: "genos", sans-serif;
          font-weight: 300;
          font-size: 200px;
          color: gold;
        }

        .searchbar {
          text-align: center;
          align-items: center;
          margin-top: 10px;
          width: 600px;
          height: 60px;
          background-color: rgba(240, 248, 255, 0.79);
          border: none;
          border-radius: 10px;
          text-align: center;
          font-size: large;
          font-weight: 700;
          color: rgba(53, 46, 46, 0.908);
          z-index: 0;
        }

        .button {
          width: 45px;
          height: 45px;

          background-color: rgba(240, 248, 255, 0.79);

          border: none;
          border-radius: 50%;

          margin-left: -55px;
        }

        .popUp {
          position: relative;

          @include layout2();
          align-items: center;
          justify-content: center;
          display: none;

          width: 100%;
          height: 85vh;

          background-image: linear-gradient(
            180deg,
            rgba(21, 25, 37, 0.826),
            rgba(2, 2, 54, 0.841),
            rgba(12, 1, 26, 0.79)
          );

          color: rgb(255, 237, 134);
          border-radius: 10px;

          padding: 2px;
          margin-top: -700px;

          .btnClose {
            position: absolute;
            top: 30px;
            left: 300px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: none;
            background: rgba(255, 237, 134, 0.712);
          }

          .Name {
            font-family: "genos", sans-serif;
            font-weight: 400;
            font-size: 60px;
            margin-left: 30px;
          }

          .latinName {
            font-family: "genos", sans-serif;
            font-size: xx-large;
            font-weight: 300;
            margin-left: 40px;
            margin-top: -15px;
            margin-bottom: 10px;
          }

          .information {
            @include layout2();
            overflow-y: auto;
            overflow-x: hidden;
            width: 98%;
            height: 65vh;
            flex-wrap: wrap;
            font-family: "ubuntu", sans-serif;
            font-weight: 300;
            font-size: x-large;
            background: linear-gradient(
              to bottom,
              rgb(29, 28, 28),
              rgba(0, 0, 0, 0.904)
            );
            border-radius: 2px;

            padding: 20px;
            margin: 15px;

            .smallFacts {
              @include layout2();
              flex-wrap: wrap;
              justify-content: space-between;
              align-items: center;
              width: 100%;
            }

            .sectionOne {
              @include sectionLayout();

              .type {
                @include rubriker();

                .typOf {
                  @include of();
                }
              }
            }

            .sectionTwo {
              @include sectionLayout();

              .circumference {
                @include rubriker();

                .circumOf {
                  @include of();
                }
              }
            }

            .sectionThree {
              @include sectionLayout();

              .distanceSun {
                @include rubriker();
                width: 20vh;

                .distOf {
                  @include of();
                }
              }
            }

            .sectionFour {
              @include sectionLayout();

              .temperature {
                @include rubriker();

                .tempOf {
                  @include of();
                }
              }
            }

            .sectionFive {
              @include sectionLayout();

              .moons {
                @include rubriker();

                .moonsOf {
                  @include of();
                }
              }
            }

            .sectionSix {
              width: 100%;
              font-size: x-large;

              .facts {
                @include rubriker();
                margin-bottom: 2px;

                .factsOf {
                  @include of();
                }
              }
            }
          }
        }
      }

      footer {
        @include layout1();
        position: absolute;
        justify-content: space-between;
        justify-content: center;
        align-items: center;
        width: 100%;
        top: 790px;

        .copyW {
          justify-content: center;
          align-items: center;
          color: rgba(255, 255, 255, 0.668);
          padding: 5px;
          margin: 5px;
        }

        .links {
          @include layout2();
          justify-content: center;
          align-items: center;

          .instagram {
            @include links();
          }

          .github {
            @include links();
          }

          .mejl {
            @include links();
          }
        }
      }
    }
  }
}


@media screen and (min-width: 1025px) { // media queries screen 1025px and more (laptops and desk screens)
  body {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;

    .starsky {
      // making the style for the space with stars (this is the full site, because of the star sky animation)
      width: 100%;
      height: 100vh;
      @include layout1();
      background: linear-gradient(to bottom, rgb(0, 0, 53), black);


      .starryHeaven {
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;

        .stars {
          position: absolute;
          width: 2px;
          height: 2px;
          background-color: white;
          border-radius: 50%;
          animation: twinkle 5s infinite alternate;
        }

        @keyframes twinkle {
          0%,
          100% {
            opacity: 0.2;
          }

          50% {
            opacity: 1;
          }
        }
      }

      .solaris {
        @include layout2();
        justify-content: center;
       
        width: 90%;
        z-index: 0;

          .sun {
            position: absolute;
            top: 50px;

            background-image: linear-gradient(
              to bottom,
              rgb(238, 195, 53),
              rgb(202, 97, 22),
              red
            );
            width: 500px;
            height: 500px;
            border-radius: 50%;
            
           
            @keyframes pulse-shadow { // Pulse animation for making it look like the suns warth pulse out in space
              0% {
                box-shadow: 0px 0px 200px 25px rgba(255, 68, 0, 0.692);
              }
              50% {
                box-shadow:0px 0px 100px 7px rgba(255, 68, 0, 0.692); 
              }
              100% {
                box-shadow: 0px 0px 200px 20px rgba(255, 68, 0, 0.692); //Same properties to make it more in flow
              }
            };

            animation: pulse-shadow 5s infinite ease-in-out;
          }

        .planets {
          @include layout2();
          justify-content: center;
          align-items: center;
          position: absolute;
          width: 90%;
          padding: 20px 1px 20px 1px;
          top: 170px;

          .merkurius {
            @include planetLayout();
            margin: 15px;

            background-image: linear-gradient(to bottom, grey, white, rgb(99, 90, 90));

            width: 80px;
            height: 80px;
          }

          .venus {
            @include planetLayout();
            margin: 15px;

            background-image: linear-gradient(to bottom, white, yellow, pink);

            width: 90px;
            height: 90px;
          }

          .earth {
            @include planetLayout();
            margin: 15px;

            background-image: linear-gradient(
              to bottom,
              rgb(51, 73, 241),
              rgb(9, 109, 1),
              blue
            );

            width: 95px;
            height: 95px;
          }

          .mars {
            @include planetLayout();
            margin: 15px;

            background-color: brown;

            width: 80px;
            height: 80px;
          }

          .jupiter {
            @include planetLayout();
            margin: 15px;

            background-image: linear-gradient(
              to bottom,
              rgb(97, 57, 20),
              rgb(212, 232, 123),
              rgb(162, 65, 52),
              rgb(97, 57, 20)
            );

            width: 200px;
            height: 200px;
          }

          .planetWithRing1 {
            position: relative;
            .saturnus {
              position: relative;
              @include planetLayout();
              
              margin: 15px;

              background-image: linear-gradient(
                180deg,
                rgb(176, 193, 54),
                rgb(181, 145, 135)
              );

              width: 100px;
              height: 100px;
            }
            .saturnusRing {
              position: absolute;

              top: 50%;
              left: 50%;

              background-color: rgba(106, 97, 63, 0.675);
              border-radius: 50%;

              width: 160px;
              height: 7px;
              transform: translate(-50%, -50%) rotate(150deg); // translate method makes the ring turn around sideways
            }
          }

          .uranus {
            @include planetLayout();
            margin: 15px;

            background-image: linear-gradient(
              to bottom,
              rgb(42, 35, 171),
              rgb(250, 250, 247)
            );

            width: 90px;
            height: 90px;
          }

          .planetWithRing2 {
            position: relative;

            .neptunes {
              position: relative;
              @include planetLayout();

              margin: 15px;

              background-image: linear-gradient(
                180deg,
                rgb(54, 86, 193),
                rgb(46, 24, 132)
              );

              width: 95px;
              height: 95px;
            }
            .neptunesRing {
              position: absolute;

              top: 50%;
              left: 50%;

              background-color: rgba(151, 142, 111, 0.612);
              border-radius: 50%;

              width: 150px;
              height: 7px;
              transform: translate(-50%, -50%) rotate(210deg); // translate metod makes the ring turn around sideways
            }
          }
        }
      }

      main {
        @include layout1();
        position: absolute;
        top: 400px;
        width: 95%;
        justify-content: center;
        align-items: center;
        z-index: 0;

        .section1h1 {
          text-align: center;
          align-items: center;
          font-family: "genos", sans-serif;
          font-weight: 300;
          font-size: 200px;
          color: gold;
        }

        .searchbar {
          text-align: center;
          align-items: center;
          margin-top: 10px;
          width: 600px;
          height: 60px;
          background-color: rgba(240, 248, 255, 0.79);
          border: none;
          border-radius: 10px;
          text-align: center;
          font-size: large;
          font-weight: 700;
          color: rgba(53, 46, 46, 0.908);
          z-index: 0;
        }

        .button {
          width: 45px;
          height: 45px;

          background-color: rgba(240, 248, 255, 0.79);

          border: none;
          border-radius: 50%;

          margin-left: -55px;
        }

        .popUp {
          position: relative;

          @include layout2();
          align-items: center;
          justify-content: center;
          display: none;

          width: 100%;
          height: 85vh;

          background-image: linear-gradient(
            180deg,
            rgba(21, 25, 37, 0.826),
            rgba(2, 2, 54, 0.841),
            rgba(12, 1, 26, 0.79)
          );

          color: rgb(255, 237, 134);
          border-radius: 10px;

          padding: 2px;
          margin-top: -700px;

          .btnClose {
            position: absolute;
            top: 30px;
            left: 300px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: none;
            background: rgba(255, 237, 134, 0.712);
          }

          .Name {
            font-family: "genos", sans-serif;
            font-weight: 400;
            font-size: 60px;
            margin-left: 30px;
          }

          .latinName {
            font-family: "genos", sans-serif;
            font-size: xx-large;
            font-weight: 300;
            margin-left: 40px;
            margin-top: -15px;
            margin-bottom: 10px;
          }

          .information {
            @include layout2();
            overflow-y: auto;
            overflow-x: hidden;
            width: 98%;
            height: 65vh;
            flex-wrap: wrap;
            font-family: "ubuntu", sans-serif;
            font-weight: 300;
            font-size: x-large;
            background: linear-gradient(
              to bottom,
              rgb(29, 28, 28),
              rgba(0, 0, 0, 0.904)
            );
            border-radius: 2px;

            padding: 20px;
            margin: 15px;

            .smallFacts {
              @include layout2();
              justify-content: space-around;
              align-items: center;
              width: 100%;
            }

            .sectionOne {
              @include sectionLayout();

              .type {
                @include rubriker();

                .typOf {
                  @include of();
                }
              }
            }

            .sectionTwo {
              @include sectionLayout();

              .circumference {
                @include rubriker();

                .circumOf {
                  @include of();
                }
              }
            }

            .sectionThree {
              @include sectionLayout();

              .distanceSun {
                @include rubriker();

                .distOf {
                  @include of();
                }
              }
            }

            .sectionFour {
              @include sectionLayout();

              .temperature {
                @include rubriker();

                .tempOf {
                  @include of();
                }
              }
            }

            .sectionFive {
              @include sectionLayout();

              .moons {
                @include rubriker();

                .moonsOf {
                  @include of();
                }
              }
            }

            .sectionSix {
              width: 100%;
              font-size: x-large;

              .facts {
                @include rubriker();
                margin-bottom: 2px;

                .factsOf {
                  @include of();
                }
              }
            }
          }
        }
      }

      footer {
        @include layout1();
        position: absolute;
        justify-content: space-between;
        justify-content: center;
        align-items: center;
        width: 100%;
        top: 750px;

        .copyW {
          justify-content: center;
          align-items: center;
          color: rgba(255, 255, 255, 0.668);
          padding: 5px;
          margin: 5px;
        }

        .links {
          @include layout2();
          justify-content: center;
          align-items: center;

          .instagram {
            @include links();
          }

          .github {
            @include links();
          }

          .mejl {
            @include links();
          }
        }
      }
    }
  }
}
